/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Visiting Card Styles */
.id-card-wrapper-front {
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff; /* 1px */
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background {
    background-color: #fbeaea;
    height: 100%;
}

.id-card-wrapper-front .id-dark-pink {
    left: 0pt;
    margin-top: -2.69pt;
    width: 166.775pt;
    height: 127.5pt;
    background-color: #3e1f2e;
    position: absolute;
    top: 3pt;
}

.id-card-wrapper-front .id-pink {
    position: absolute;
    left: -10pt;
    margin-top: -0.69pt;
    width: 3px;
    height: 0px;
    border-left: -0.95pt solid transparent;
    border-right: 67.05pt solid transparent;
    border-bottom: 15.5pt solid rgb(210, 32, 46);
    top: 75pt;
    transform: rotate(-17deg);
}
.id-card-wrapper-front .id-orange {
    position: absolute;
    left: -18pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 105.05pt solid transparent;
    border-bottom: 20.5pt solid rgb(239, 101, 48);
    top: 99.5pt;
    transform: rotate(-28deg);
}
.id-card-wrapper-front .id-orange-right {
    position: absolute;
    left: 87pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 105.05pt solid transparent;
    border-bottom: 13.5pt solid rgb(239, 101, 48);
    top: 95.6pt;
    transform: rotate(181deg);
}
.id-card-wrapper-front .id-red {
    position: absolute;
    left: 84pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 95.05pt solid transparent;
    border-bottom: 16.5pt solid rgb(210, 32, 46);
    top: 100.6pt;
    transform: rotate(188deg);
}

.id-card-wrapper-front .id-light-pink {
        position: absolute;
        left: -38pt;
        margin-top: -17pt;
        width: -2px;
        height: 43px;
        border-left: 124pt solid transparent;
        border-right: 121pt solid transparent;
        border-bottom: 64pt solid #fbeaea;
        top: 66pt;
        z-index: 10;
}
.id-card-wrapper-front .rect-right{
    position: absolute;
    width: 11px;
    height: 58px;
    background-color: rgb(211, 32, 45);
    top: 167pt;

}
.id-card-wrapper-front .rect-left{
    position: absolute;
    width: 11px;
    height: 58px;
    background-color: rgb(211, 32, 45);
    top: 167pt;
    left: 159pt;

}

.org-logo {
    text-align: center;
    margin-bottom: 14.25pt; /* 19px */
}

.org-logo img {
    max-width: 20.25%; /* 27% */
    height: auto;
}

.user-photo {
    position: absolute;
    left: 19.5pt; /* 10px */
    top: 39.5pt; /* 10px */
    height: 75pt; /* 100px */
    width: 75pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
}

.user-photo img {
    width: 18.75mm; /* 25mm */
    height: 15.75mm; /* 21mm */
    border-radius: 5pt;
    position: absolute;
    top: 5.25mm; /* 7mm */
    left: 42pt; /* 56px */
}

.user-name {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30mm;
    position: absolute;
    top: 36mm;
    left: 11mm;
}

.id-number {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2mm;
    position: absolute;
    top: 43mm;
    left: 21mm;
}

.id-title {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2mm;
    position: absolute;
    top: 48mm;
    left: 12mm;
}

.org-name {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2mm;
    position: absolute;
    top: 54mm;
    left: 8mm;
}

.org-address {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2mm;
    position: absolute;
    top: 60mm;
    left: 16mm;
}

.id-card-wrapper-back {
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff; /* 1px */
    overflow: hidden;
    left: 190.5pt; /* 254px */
    top: -255.75pt; /* -341px */
}

.id-card-wrapper-back .id-card-background {
    background-color: #fbeaea;
    height: 100%;
}

.id-card-wrapper-back .id-dark-pink-bottom {
    left: 0pt;
    /* margin-top: -2.69pt; */
    width: 166.775pt;
    height: 127.5pt;
    background-color: #3e1f2e;
    position: absolute;
    top: 166pt;
}

.id-card-wrapper-back .id-pink-bottom {
    position: absolute;
    left: -37pt;
    margin-top: -17pt;
    width: -2px;
    height: 43px;
    border-left: 124pt solid transparent;
    border-right: 121pt solid transparent;
    border-bottom: 64pt solid #fbeaea;
    top: 167pt;
    z-index: 10;
    transform: rotate(180deg);
}

.id-card-wrapper-back .id-light-pink-bottom {
    position: absolute;
    left: 107pt;
    margin-top: -0.69pt;
    width: 3px;
    height: 0px;
    /* border-left: -0.95pt solid transparent; */
    border-right: 67.05pt solid transparent;
    border-bottom: 15.5pt solid rgb(210, 32, 46);
    top: 209pt;
    transform: rotate(163deg);
}
.id-card-wrapper-back .id-orange-bottom {
    position: absolute;
    left: -21pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 105.05pt solid transparent;
    border-bottom: 13.5pt solid rgb(239, 101, 48);
    top: 215.6pt;
    transform: rotate(358deg)
}
.id-card-wrapper-back .id-red-bottom {
    position: absolute;
    left: -10pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 95.05pt solid transparent;
    border-bottom: 16.5pt solid rgb(210, 32, 46);
    top: 206.6pt;
    transform: rotate(365deg);
}
.id-card-wrapper-back .id-orange {
    position: absolute;
    left: 82pt;
    margin-top: -12.69pt;
    width: 1px;
    height: 0px;
    border-left: -23.95pt solid transparent;
    border-right: 105.05pt solid transparent;
    border-bottom: 20.5pt solid rgb(239, 101, 48);
    top: 200.5pt;
    transform: rotate(152deg);
}

/* Content Styles */
.id-card-content {
    position: absolute;
    top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
    position: absolute;
    top: 57pt; /* 72px */
    padding: 6pt; /* 8px */
}

.id-contact-info {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 42mm;
    left: 16mm;
}

.qr-code {
    position: absolute;
    left: 17.5pt;
    top: -9.5pt;
    height: 75pt;
    width: 75pt;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.qr-code img {
    width: 15mm; /* 20mm */
    height: 12mm; /* 16mm */
    border-radius: 5pt;
    position: absolute;
    top: -14.25mm; /* -19mm */
    left: 42pt; /* 56px */
}

.id-emergency-contact,
.id-blood-group,
.id-dob,
.id-dates,
.id-barcode,
.id-policy {
    font-size: 7pt;
    margin-bottom: 2mm;
}
