/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Visiting Card Styles */

  /* ID Card Wrapper Back Side */
.id-card-wrapper-front {
    position: relative;
    width: 167.25pt; 
    height: 237.75pt; 
    margin: 17.25pt; 
    background-color: #ffffff;
    border: 1pt solid gray; 
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background {
    background-color: white;
}

.top-left-blue-circle {
    position: absolute;
    top: -58pt;
    left: -22pt;
    width: 150pt;
    height: 150pt;
    background-color: #003047;
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.top-right-red-circle {
    position: absolute;
    top: -20pt;
    right: -20pt;
    width: 100pt;
    height: 100pt;
    background-color: #ee332e;
    border-radius: 50pt;
    display: block;
    transform: skew(18deg);
    
}

.org-logo-name {
    position: absolute;
    top: 20pt;
    left: 55pt;
    color: red;
    background: linear-gradient(to right, rgb(245, 3, 3), rgb(255, 255, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

/* .watermark-circle {
    position: absolute;
    top: 75pt;
    left: 60pt;
    width: 70pt;
    height:  70pt;
    background-color: gray;
    border-radius: 50pt;
    display: block;
    background-image: url(../img/watermark.jfif);
    z-index: 1;
} */

/* .org-logo {
    position: absolute;
    top: 20pt;
    left: 55pt;
    z-index: 1;
}

.org-logo img {
    width: 55pt;
    height: 20pt;
} */

.user-photo {
    position: absolute;
    top: 70pt;
    left: 55pt;
    object-fit: cover;
    z-index: 1;
}

.user-photo img {
    position: absolute;
    width: 60pt;
    height: 60pt;
    border-radius: 50pt;
}

.user-name {
    position: absolute;
    top: 140pt;
    left: 43pt;
    font-size: 1.1667em;
    font-weight: bold;
}

.id-title {
    position: absolute;
    top: 158pt;
    left: 45pt;
    font-size: 0.70em;
}


.id-number {
   position: absolute;
   top: 175pt;
   left: 30pt;
   font-size: 0.8em;
}

.id-blood-group {
    position: absolute;
    top: 185pt;
    left: 30pt;
    font-size: 0.8em;
}

.id-emergency-contact {
    position: absolute;
    top: 195pt;
    left: 30pt;
    font-size: 0.8em;
}

.id-dob {
    position: absolute;
    top: 205pt;
    left: 30pt;
    font-size: 0.8em;
}

.qr-code {
    position: absolute;
    top: 220pt;
    left: 25pt;
}

.qr-code img {
    width: 120pt;
    height: 10pt;
}
/* ID Card Wrapper Back Side  */

.id-card-wrapper-back {
    position: relative;
    top: -255.75pt; 
    left: 190.5pt; 
    width: 167.25pt; 
    height: 237.75pt; 
    margin: 17.25pt; 
    background-color: #ffffff;
    border: 1pt solid gray;
    overflow: hidden;  
}

.id-card-wrapper-back .id-card-background {
    background-color: white;
    height: 100%;
}

.bottom-left-blue-circle {
    position: absolute;
    bottom: -58pt;
    left: -22pt;
    width: 150pt;
    height: 150pt;
    background-color: #003047;
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.bottom-right-red-circle {
    position: absolute;
    bottom: -25pt;
    right: -25pt;
    width: 100pt;
    height: 100pt;
    background-color: #ee332e;
    border-radius: 50pt;
    display: block;
    transform: skew(5deg);
}

.org-logo-name1 {
    position: absolute;
    bottom: 20pt;
    left: 55pt;
    color: red;
    background: linear-gradient(to right, rgb(245, 3, 3), rgb(255, 255, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

/* Content Styles */
.id-issue-date {
    position: absolute;
    top: 70pt;
    left:33pt;
    font-size: 0.8em;;
}

.id-expiry-date {
    position: absolute;
    top: 80pt;
    left:33pt;
    font-size: 0.8em;
}

.org-name {
    position: absolute;
    top: 30pt;
    left: 40pt;
    font-size:  0.8em;
}

.org-address {
    position: absolute;
    top: 40pt;
    left: 51pt;
    font-size:  0.8em;

}

.id-policy {
    position: absolute;
    top: 110pt;
    left: 12pt;
    font-size:  0.8em;

}

/* .id-emergency-contact,
.id-blood-group,
.id-dob,
.id-dates,
.id-barcode,
.id-policy {
    font-size: 0.8333em;
    margin-bottom: 5mm;
} */
