/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: gray;
    
}

/* Visiting Card Styles */
.id-card-wrapper-front {
    box-shadow: 6px 7px #696b6c;
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff; /* 1px */
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background {
    background-color:#fdfbfb;
    height: 100%;
}

.id-card-wrapper-front .id-dark-pink {
    left:-42pt; /* 0px */
    margin-top: -0.69pt; /* -0.92px */
    width:125pt; /* 71.7px */
    height:28pt; /* 30px */
    background-color:rgb(26, 137, 183);
    position:absolute;
    top: 0pt; /* 0px */
    overflow: hidden;
    transform:rotate(90deg);
}

.id-card-wrapper-front .id-pink {
    transform: rotate(90deg);
    left:16pt;
    margin-top: -0.69pt;
    width: 82pt;
    height:10mm;
    background-color:rgb(244, 21, 66);
    position: absolute;
    top: 0pt;
}
.rect1{
    z-index: 2;
    transform: rotate(90deg);
    left: -39pt;
    margin-top: -0.69pt;
    width: 77pt;
    height: 5mm;
    background-color: rgb(249 249 249);
    position: absolute;
    top: 31pt;
}
.rect{
    z-index:2;
    border-top-right-radius: 10mm;
    transform: rotate(0deg);
    left: -3pt;
    margin-top: -0.69pt;
    width: 30pt;
    height: 7mm;
    background-color:rgb(26, 137, 183);
    position: absolute;
    top: 56pt;

}
.rect2{
    z-index:2;
    transform: rotate(90deg);
    left: -2pt;
    margin-top: -0.69pt;
    width: 82pt;
    height: 3mm;
    background-color: rgb(249 249 249);
    position: absolute;
    top: 30pt;
}
.rect3{
    z-index:2;
    transform: rotate(179deg);
    left: -18pt;
    margin-top: -0.69pt;
    width: 82pt;
    height: 14mm;
    background-color: rgb(249 249 249);
    position: absolute;
    top: 75pt;
}
.rect4{
    z-index:2;
    transform: rotate(179deg);
    left: 35pt;
    margin-top: -0.69pt;
    width: 82pt;
    height: 8mm;
    background-color: rgb(249 249 249);
    position: absolute;
    top: 55pt;
}
.rect5{
    transform: rotate(179deg);
    left: 43pt;
    margin-top: -0.69pt;
    width: 28pt;
    height: 8mm;
    background-color:rgb(233, 110, 69);
    position: absolute;
    top: 34pt;
}

.id-card-wrapper-front .id-light-pink {
    z-index:2;
    top: 10mm;
    position: absolute;
    height: 109px;
    width: 109px;
    left: -9mm;
    background-color: #073a8e;
    border-radius: 50%;
    display: inline-block;
}

.org-logo {
    text-align: center;
    margin-bottom: 14.25pt; /* 19px */
}

.org-logo img {
    top: -7mm;
    left: 13mm;
    position: relative;
    max-width: 38.25%;
    height: auto;
}

.user-photo {
    position: absolute;
    left: 7.5pt; /* 10px */
    top: 7.5pt; /* 10px */
    height: 75pt; /* 100px */
    width: 75pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.user-photo img {
    width: 21.75mm;
    height: 20.75mm;
    border-radius: 36pt;
    position: absolute;
    z-index: 3;
    top: 9.25mm;
    left: 45pt;
}

.user-name {
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30mm;
    position: absolute;
    top: 35mm;
    left: 13mm;
}

.id-number {
    font-size: 0.8333em;
    font-weight:initial;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top:51mm;
    left:20mm;
}

.id-title {
    font-weight: 100;
    font-size: 8pt;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 43mm;
    left: 17mm;
}

.org-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 58mm;
    left:9mm;
}

.org-address {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 63mm;
    left:17mm;
}

.id-card-wrapper-back {
    box-shadow: 6px 7px #696b6c;
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff; /* 1px */
    overflow: hidden;
    left: 190.5pt; /* 254px */
    top: -255.75pt; /* -341px */
}

.id-card-wrapper-back .id-card-background {
    box-shadow: 6px 7px #696b6c;
    background-color: #fdfbfb;
    height: 100%;
}

.id-card-wrapper-back .id-dark-pink-bottom {
    left: 80mm;
    top: -73mm;
    width: 0mm;
    height: 70mm;
    border-style: solid;
    border-width: 67pt 0 62pt 68pt;
    border-color: rgb(231, 31, 95);
    position: absolute;
    border-top-left-radius: 31mm;
    transform: rotate(-132deg);
}

.tri{
    left: -4mm;
    top: 70mm;
    width: 0mm;
    height: 0mm;
    border-style: solid;
    border-width: 66pt 0 63pt 68pt;
    border-color:rgb(26, 134, 181);
    position: absolute;
    border-top-right-radius: 25mm;
    transform: rotate(47deg);
}
.tri2{
    left: 6pt;
    top: 53pt;
    width: 2mm;
    height: -1mm;
    border-style: solid;
    border-width: 1pt;
    color: rgb(26, 137, 183);
    position: absolute;
    border-top-right-radius: 25mm;
    transform: rotate(1deg);
}
.circle{
    top:76mm;
    position: absolute;
    height:50px;
    width:52px;
    left:-7mm;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
}
.circle1{
    top:-6mm;
    position: absolute;
    height:50px;
    width:52px;
    left:53mm;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
}
.circle2{
    top: 4mm;
    position: absolute;
    height: 93px;
    width: 93px;
    left: 30mm;
    background-color: #f4eeee;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
}
.circle3{
    top: 55mm;
    position: absolute;
    height: 93px;
    width: 93px;
    left: 5mm;
    background-color: #f4eeee;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
}

.id-card-wrapper-back .id-pink-bottom {
    left: 39mm;
    top: -31mm;
    width: 0mm;
    height: 0mm;
    border-style: solid;
    border-width: 64pt 0 63pt 65pt;
    border-color: rgb(135, 17, 96);
    position: absolute;
    border-top-right-radius: 25mm;
    transform: rotate(-131deg);
}

.id-card-wrapper-back .id-light-pink-bottom {
    left: -20mm;
    top: 53mm;
    width: 0mm;
    height: 0mm;
    border-style: solid;
    border-width: 66pt 0 63pt 68pt;
    border-color:rgb(232, 35, 91);
    position: absolute;
    border-top-left-radius: 25mm;
    transform: rotate(47deg);
}

/* Content Styles */
.id-card-content {
    position: absolute;
    top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
    font-size:3mm;
    position: absolute;
    top:40pt; /* 72px */
    padding: 6pt; /* 8px */
}

.id-contact-info {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 42mm;
    left: 16mm;
}

.qr-code {
    position: absolute;
    left: 16.5pt;
    top: 169.5pt;
    height: 75pt;
    width: 75pt;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.qr-code img {
    width: 20mm;
    height: 18mm;
    border-radius: 5pt;
    position: absolute;
    top: -14.25mm;
    left: 52pt;
}
.id-emergency-contact{
    font-size:3mm;
    position:relative;
    top:-1mm;
}
.id-blood-group{
    font-size: 3mm;
    position: absolute;
    top: 22mm;
    left: 2mm;
}
.id-dob{
    left: 2mm;
    font-size: 3mm;
    position: absolute;
    top: 29mm;
}
.id-issue-date{
    left: 2mm;
    font-size: 3mm;
    position: absolute;
    top: 35mm;
}
.id-expiry-date{
    left: 2mm;
    font-size: 3mm;
    position: absolute;
    top: 42mm;
}
.id-barcode{
    left: 2mm;
    font-size: 3mm;
    position: absolute;
    top: 29mm;
}
.id-policy {
    left: 2mm;
    font-size: 3mm;
    position: absolute;
    top: 48mm;
}
