@font-face {
    font-family: MK;
    src: url(../font/Oswald-Medium.ttf);
}
body {
    background-color:rgba(158, 142, 142, 0.434);
    padding: 40pt;
    font-family: MK;
}
.id-card-wrapper-front {
    position: relative;
    width: 167.25pt; 
    height: 237.75pt;
    margin: 17.25pt; 
    background-color: #ffffff;
    overflow: hidden;
}                                                                                                                                                       
.id-card-wrapper-front .id-card-background {
    height: 100%; 
}
 .id-card-wrapper-front .dark-blue-rect {
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 105pt;
    background-color:#18133C;
} 
.id-card-wrapper-front .dark-blue-tri {
    position: absolute;
    top: 100pt;
    left: -21pt;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39pt 105pt 0pt 105pt;                                                                                                                                                                                                                                                                                                                                                                                 
    border-color: #18133C transparent transparent transparent;
}
.f-cube-left-1 {
    position: absolute;
    top: 60pt;
    left: -16pt;
    transform: skewY(24deg);
}
.f-cube-left-1::before {
    position: absolute;
    top: -14pt;
    left: 7pt;
    width: 8pt;
    height: 14pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.f-cube-left-1::after {
    position: absolute;
    top: -7pt;
    left: 7pt;
    width: 15pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
} 
.f-cube-left-2 {
    position: absolute;
    top: 84pt;
    left: -1pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.f-cube-left-2::before {
    position: absolute;
    top: -14pt;
    left: 7pt;
    width: 8pt;
    height: 14pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.f-cube-left-2::after {
    position: absolute;
    top: -7pt;
    left: 7pt;
    width: 15pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
} 
.f-cube-left-3 {
    position: absolute;
    top: 61pt;
    left: 10pt;
    width: 7pt;
    height: 8pt;
    background: #FE94B3;
    transform: skewY(24deg); 
}
.f-cube-left-3::before {
    position: absolute;
    top: -4pt;
    left: 2pt;
    width: 7pt;
    height: 4pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.f-cube-left-3::after {
    position: absolute;
    top: -2pt;
    left: 7pt;
    width: 4pt;
    height: 8pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.f-cube-left-4 {
    position: absolute;
    top: 99pt;
    left: 21pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.f-cube-left-4::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 7pt;
    height: 6pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.f-cube-left-4::after {
    position: absolute;
    top: -3pt;
    left: 7pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.f-cube-right-1 {
    position: absolute;
    top: -26pt;
    right: 6pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.f-cube-right-1::after {
    position: absolute;
    top: -3pt;
    left: 7pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
} 
.f-cube-right-2 {
    position: absolute;
    top: -26pt;
    right: 19pt;
    width: 13pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.f-cube-right-2::after {
    position: absolute;
    top: -3pt;
    left: 13pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.f-cube-right-3 {
    position: absolute;
    top: 3pt;
    right: 38pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.f-cube-right-3::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 7pt;
    height: 6pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.f-cube-right-3::after {
    position: absolute;
    top: -3pt;
    left: 7pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.bottom-line {
    position: absolute;
    bottom: 4pt;
    left: 45pt;
    width: 77pt;
    height: 1pt;
    background-color: #FE94B3;
}
/* Content Styles */
.id-card-wrapper-front .id-card-content {
    position: absolute;
    top: 40.5pt; 
}
.org-logo {
    text-align: left;
    margin-top: -33pt;
    margin-left: 10pt; 
}
.org-logo img { 
    max-width: 18mm;
    height: 10mm;
}
.user-photo {
    text-align: center;
    margin-top: 14pt;
    margin-left: 66pt; 
}
.user-photo img {
    width: 13mm;
    height:13mm; 
}
.user-name {
    position: absolute;
    top: 18mm;
    left: 0mm;
    width: 39mm;
    color: white;
    font-size: 13pt;
    text-align: center;
    margin-left: 10mm;
    margin-right: 10mm;
}
.sirname {
    color:#FE94B3;
}
.id-number {
    position: absolute;
    top: 45mm;
    left: 0mm;
    width: 39mm;
    color: #18133C;
    font-size: 8pt;
    font-weight: 700;
    letter-spacing: 1pt;
    text-align: center;
    margin-left: 10mm;
    margin-right: 10mm;
}
.id-no {
    color:#FE94B3;
}
.id-title {
    position: absolute;
    top: 25mm;
    left: 0mm;
    width: 39mm;
    color: #817E9D;
    font-size: 5pt;
    text-align: center;
    margin-left: 10mm;
    margin-right: 10mm;
}
.org-name {
    position: absolute;
    top: 52mm;
    left: 0mm;
    width: 39mm;
    color: #18133C;
    font-size: 8pt;
    font-weight: 700;
    letter-spacing: 1pt;
    text-align: center;
    margin-left: 10mm;
    margin-right: 10mm;
}
.org-address {
    position: absolute;
    top: 59mm;
    left: 0mm;
    width: 39mm;
    color: #18133C;
    font-size: 8pt;
    font-weight: 700;
    letter-spacing: 1pt;
    text-align: center;
    margin-left: 10mm;
    margin-right: 10mm;
}
/*Back Side Card*/
.id-card-wrapper-back {
    position: relative;
    width:  167.25pt; 
    height: 237.75pt; 
    margin: 17.25pt; 
    background-color: #ffffff;
    overflow: hidden;
    left: 190.5pt; 
    top: -255.75pt; 
}
.id-crd-wrapper-back .id-card-background {
    height: 100%;
}
.id-card-wrapper-back .red-rect {
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 40pt;
    background-color:#FF521A;
    z-index: 1;
} 
.id-card-wrapper-back .red-tri {
    position: absolute;
    top: 35pt;
    left: -21pt;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39pt 105pt 0pt 105pt;
    border-color: #FF521A transparent transparent transparent;
} 
.b-cube-left-1 {
    position: absolute;
    bottom: 25pt;
    left: -16pt;
    transform: skewY(24deg);
}
.b-cube-left-1::before {
    position: absolute;
    top: -14pt;
    left: 7pt;
    width: 8pt;
    height: 14pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-left-1::after {
    position: absolute;
    top: -7pt;
    left: 7pt;
    width: 15pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
} 
.b-cube-left-2 {
    position: absolute;
    bottom: -40pt;
    left: 6pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.b-cube-left-2::before {
    position: absolute;
    top: -14pt;
    left: 7pt;
    width: 8pt;
    height: 14pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-left-2::after {
    position: absolute;
    top: -7pt;
    left: 7pt;
    width: 15pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
} 
.b-cube-left-3 {
    position: absolute;
    bottom: 37pt;
    left: 5pt;
    width: 7pt;
    height: 8pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.b-cube-left-3::before {
    position: absolute;
    top: -4pt;
    left: 2pt;
    width: 7pt;
    height: 4pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-left-3::after {
    position: absolute;
    top: -2pt;
    left: 7pt;
    width: 4pt;
    height: 8pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.b-cube-left-4 {
    position: absolute;
    bottom: -49pt;
    left: 32pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
}
.b-cube-left-4::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 7pt;
    height: 6pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-left-4::after {
    position: absolute;
    top: -3pt;
    left: 7pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.b-cube-right-1 {
    position: absolute;
    top: -26pt;
    right: -1pt;
    width: 7pt;
    height: 99pt;
    background: #FE94B3;
    transform: skewY(24deg);
    z-index: 1;
}
.b-cube-right-1::before {
    position: absolute;
    top: 41pt;
    left: 3pt;
    width: 7pt;
    height: 6pt;
    content: '';
    display: inline-block; 
    background: #FED231;
    transform: skewX(314deg);
} 
.b-cube-right-2 {
    position: absolute;
    top: 0pt;
    right: 12pt;
    width: 19pt;
    height: 51pt;
    background: #FE94B3;
    transform: skewY(24deg);
    z-index: 1;
}
.b-cube-right-2::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 19pt;
    height: 6pt;
    content: '';
    display: inline-block; 
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-right-2::after {
    position: absolute;
    top: -3pt;
    left: 19pt;
    width: 6pt;
    height: 51pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.b-cube-right-3 {
    position: absolute;
    top: 14pt;
    right: 25pt;
    width: 14pt;
    height: 40pt;
    background: #FE94B3;
    transform: skewY(24deg);
    z-index: 1;
}
.b-cube-right-3::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 14pt;
    height: 6pt;
    content: '';
    display: inline-block; 
    background: #FED231;
    transform: skewX(314deg);
}
.b-cube-right-3::after {
    position: absolute;
    top: -3pt;
    left: 14pt;
    width: 6pt;
    height: 40pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
}
.b-cube-right-4 {
    position: absolute;
    top: 28pt;
    right: 45pt;
    width: 7pt;
    height: 55pt;
    background: #FE94B3;
    transform: skewY(24deg);
    z-index: 1;
}
.b-cube-right-4::before {
    position: absolute;
    top: -6pt;
    left: 3pt;
    width: 7pt;
    height: 6pt;
    content: '';
    display: inline-block;
    background: #FED231;
    transform: skewX(314deg);
    z-index: 1;
}
.b-cube-right-4::after {
    position: absolute;
    top: -3pt;
    left: 7pt;
    width: 6pt;
    height: 55pt;
    content: '';
    display: inline-block;
    background: #FF521A;
    transform: skewY(-43deg);
    z-index: 1;
} 
.line-1 {
    position: absolute;
    top: 121pt;
    left: 21pt;
    width: 125pt;
    height: 1pt;
    background-color: #FE94B3;
}
.line-2 {
    position: absolute;
    top: 159pt;
    left: 21pt;
    width: 125pt;
    height: 1pt;
    background-color: #FE94B3;
}
.line-3 {
    position: absolute;
    top: 196pt;
    left: 21pt;
    width: 125pt;
    height: 1pt;
    background-color: #FE94B3;
}
/* Content Styles*/
.id-card-wrapper-back .id-card-content {
    position: absolute;
    top: 0pt; 
    padding: 6pt;
    height: 100%; 
    width: 100%;
}
.qr-code {
    position: absolute;
    top: 15pt;
    left: 0pt;
    width: 59mm;
    text-align: center;
    z-index: 1;
}  
.qr-code img {
    width: 15mm; 
    height: 15mm;
}
.id-blood-group {
    position: absolute;
    top: 86pt;
    left: 21pt;
    color:#FF521A;
    font-size: 10pt;
}
.id-dob {
    position: absolute;
    top: 102pt;
    left: 21pt;
    color:#FF521A;
    font-size: 10pt;
}
.group,
.d-birth {
    color:#18133C
}
.id-issue-date {
    position: absolute;
    top: 125pt; 
    left: 21pt;
    color:#FF521A;
    font-size: 10pt;
}
.id-expiry-date {
    position: absolute;
    top: 140pt; 
    left: 21pt;
    color:#FF521A;
    font-size: 10pt;
}
.d-issue, 
.d-expiry {
    color:#18133C
}
.id-policy {
    position: absolute;
    bottom: 61pt;
    left: 21pt;
    margin-right: 32pt;
    color:#18133C;
    font-size: 7pt;
    text-align: justify;
}
.id-emergency-contact {
    position: absolute;
    bottom: 30pt; 
    right: 32pt;
    color:#FF521A;
    font-size: 6pt;
}
.contact-name {
    color:#18133C
}




                                                                                                                                                                                                                                            