/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

/* Visiting Card Styles */
.id-card-wrapper-front {
  position: relative;
  width: 167.25pt; /* 223px */
  height: 237.75pt; /* 317px */
  margin: 17.25pt; /* 23px */
  background-color: #ffffff;
  border: 0.75pt solid #ffffff; /* 1px */
  overflow: hidden;
}

.id-card-wrapper-front .id-card-background {
  background-color: rgba(32, 20, 30, 255);
  height: 100%;
}

.id-card-wrapper-front .id-dark-orrange {
  left: 0pt; /* 0px */
  margin-top: -0.69pt; /* -0.92px */
  width: 53.775pt; /* 71.7px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
}
.id-card-wrapper-front .id-line {
  left: 47pt;
  margin-top: -0.69pt;
  width: 65.775pt;
  height: 2.5pt;
  background-color: white;
  position: absolute;
  bottom: 84pt;
}

.id-card-wrapper-front .id-orrange {
  left: 102pt; /* 136px */
  margin-top: -0.69pt; /* -0.92px */
  width: 68.1pt; /* 90.8px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
}

.id-card-wrapper-front .id-light-orrange {
  left: 51pt; /* 68px */
  margin-top: -0.69pt; /* -0.92px */
  width: 53.775pt; /* 71.7px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
}

.id-card-wrapper-front .id-border {
  width: 108px;
  height: 115px;
  border: 5px solid #ff9302;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: absolute;
  top: 8mm;
  left: 13mm;
}

.id-card-wrapper-front .id-light-white {
  height: 22.5pt;
  width: 20pt;
}

.org-logo {
  text-align: center;
  margin-bottom: 14.25pt;
  margin-top: -31pt;
}

.org-logo img {
  max-width: 20.25%; /* 27% */
  height: auto;
}

.user-photo {
  position: absolute;
  left: 7.5pt; /* 10px */
  top: -10.5pt; /* 10px */
  height: 75pt; /* 100px */
  width: 75pt; /* 100px */
  border-radius: 50%;
  object-fit: cover;
}

.user-photo img {
  width: 26.75mm;
  height: 29.75mm;
  border-radius: 80pt;
  position: absolute;
  top: -0.75mm;
  left: 37pt;
}

.user-name {
  font-size: 4mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: 28mm;
  left: 15mm;
  color: white;
}

.id-number {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 42mm;
  left: 21mm;
  color: white;
}

.id-title {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 34mm;
  left: 14mm;
  color: white;
  width: -7mm;
}

.org-name {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 48mm;
  left: 14mm;
  color: white;
}

.org-address {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 53mm;
  left: 17mm;
  color: white;
}

.id-card-wrapper-back {
  position: relative;
  width: 167.25pt; /* 223px */
  height: 237.75pt; /* 317px */
  margin: 17.25pt; /* 23px */
  background-color: #ffffff;
  border: 0.75pt solid #ffffff; /* 1px */
  overflow: hidden;
  left: 190.5pt; /* 254px */
  top: -255.75pt; /* -341px */
}

.id-card-wrapper-back .id-card-background {
  background-color: #f9f7f7;
  height: 100%;
}

.id-card-wrapper-back .id-dark-orrange-bottom {
  left: 0pt; /* 0px */
  margin-top: 216pt; /* 288px */
  width: 53.775pt; /* 71.7px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: -44pt;
  /*right: 0pt;
  left: 25px;*/
}

.id-card-wrapper-back .id-orrange-bottom {
  left: 90.75pt; /* 121px */
  margin-top: 216pt; /* 288px */
  width: 82.2pt; /* 109.6px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: -44pt;
}

*.id-card-wrapper-back .id-light-orrange-bottom {
  left: 48pt; /* 64px */
  /*margin-top: 216pt; /* 288px */
  width: 53.775pt; /* 71.7px */
  height: 22.5pt; /* 30px */
  background-color: rgba(255, 135, 0, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: 172pt;
}
.id-card-wrapper-back .id-dark-brown-bottom {
  left: 0pt; /* 0px */
  margin-top: 216pt; /* 288px */
  width: 53.775pt; /* 71.7px */
  height: 47.5pt; /* 30px */
  background-color: rgba(32, 20, 30, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: -23pt;
}

.id-card-wrapper-back .id-brown-bottom {
  left: 90.75pt; /* 121px */
  margin-top: 216pt; /* 288px */
  width: 82.2pt; /* 109.6px */
  height: 69.5pt; /* 30px */
  background-color: rgba(32, 20, 30, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: -23pt;
}

.id-card-wrapper-back .id-light-brown-bottom {
  left: 48pt; /* 64px */
  /*margin-top: 216pt; /* 288px */
  width: 53.775pt; /* 71.7px */
  height: 45.5pt; /* 30px */
  background-color: rgba(32, 20, 30, 255);
  position: absolute;
  bottom: 0pt; /* 0px */
  top: 193pt;
}

/* Content Styles */
.id-card-content {
  position: absolute;
  top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
  position: absolute;
  top: 54pt; /* 72px */
  padding: 6pt; /* 8px */
}

.id-contact-info {
  font-size: 2mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 42mm;
  left: 16mm;
}

.qr-code {
  position: absolute;
  left: 7.5pt; /* 10px */
  top: 75.5pt; /* 10px */
  height: 124pt; /* 100px */
  width: 75pt; /* 100px */
  border-radius: 50%;
  object-fit: cover;
}

.qr-code img {
  width: 20mm; /* 20mm */
  height: 17mm; /* 16mm */
  border-radius: 5pt;
  position: absolute;
  top: -23.25mm; /* -19mm */
  left: 42pt; /* 56px */
}

.id-emergency-contact {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: -16mm;
  left: 4mm;
  color: black;
  width: 36mm;
}

.id-blood-group {
  font-size: 3mm;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: -9mm;
  left: -16mm;
  color: black;
  width: 65mm;
}
.id-dob {
  font-size: 3mm;
  /*font-weight: bold;*/
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: -5mm;
  left: 4mm;
  color: black;
  width: 35mm;
}

.id-dates {
  font-size: 2mm;
  /*font-weight: bold;*/
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: -5mm;
  left: 11mm;
  color: black;
}
.id-barcode {
  font-size: 2mm;
  /*font-weight: bold;*/
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: -5mm;
  left: 11mm;
  color: black;
}
.id-policy {
  margin-bottom: 2mm;
  font-size: 3mm;
  /*font-weight: bold;*/
  text-align: center;
  /*margin-bottom: 30mm;*/
  position: absolute;
  top: 23mm;
  left: 6mm;
  color: black;
  width: 47mm;
}

.id-issue-date {
  margin-bottom: 2mm;
  font-size: 3mm;
  /*font-weight: bold;*/
  text-align: center;
  /*margin-bottom: 30mm;*/
  position: absolute;
  top: 33mm;
  left: 9mm;
  color: black;
  width: 35mm;
}

.id-expiry-date {
  margin-bottom: 2mm;
  font-size: 3mm;
  /*font-weight: bold;*/
  text-align: center;
  /*margin-bottom: 30mm;*/
  position: absolute;
  top: 37mm;
  left: 9mm;
  color: black;
  width: 36mm;
}
