.body{
    font-family: Arial, sans-serif;
}

.id-card-wrapper-front .id-card-background{ 
    position: absolute;
    left:80mm;
    top:40mm;
    width: 54mm;
    height:86mm;
    background-color: black;
    overflow: hidden;
    padding: 50px;
    z-index: 1;
}

.id-card-background .col{
    position: absolute;
    left: -20mm;
    top: -9mm;
    width: 19mm;
    height: 48mm;
    background-color: #f5a221;
    transform: skewX(60deg);
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background .tri-1{
    position: absolute;
    left: -49mm;
    top: 0mm;
    width: 0mm;
    height: 0mm;
    border-top: 39mm solid #f5a221;
    border-right: 35mm solid transparent;
    border-left: 95mm solid transparent;
    z-index: 2;
}

.id-card-wrapper-front .id-card-background .tri-2{
    position: absolute;
    left: 86mm;
    top: 0mm;
    width: 40mm;
    height: 8mm;
    border-top: 48px solid #734d1f;
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    height: 0;
    width: 150px;
    z-index: 3;
}

.id-card-wrapper-front .id-card-background .tri-3{
    position: absolute;
    left: 104mm;
    top: 20mm;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 45px solid transparent;
    border-top: 60px solid #bd7c2b;
    z-index: 3;
}

.id-card-wrapper-front .id-card-background .line{
    position: absolute;
    left: 11mm;
    top: 94mm;
    width: 61mm;
    border: 0.2mm dotted white;
    z-index: 5;
}

.id-card-wrapper-front .id-card-content .user-photo{
    position: absolute;
    left: 104mm;
    top: 53mm;
    border-radius: 50%;
    z-index: 3;
}


.id-card-wrapper-front .id-card-content .border{
    position: absolute;
    left: 102mm;
    top: 51mm;
    width: 120px;
    height: 120px;
    border: 2mm solid #925d1f;
    border-radius: 50%;
    z-index: 3;
}
.id-card-wrapper-front .id-card-content .user-name{
    position: absolute;
    left: 98mm;
    top: 93mm;
    color: white;
    font-size: 21pt;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .id-number{
    position: absolute;
    left: 113mm;
    top: 111mm;
    font-size: 11pt;
    color: #fafaf9;
    z-index: 4;

}

.id-card-wrapper-front .id-card-content .id-title{
    position: absolute;
    left: 105mm;
    top: 103mm;
    font-family: "Padauk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
    color: white;
    z-index: 4;

}

.id-card-wrapper-front .id-card-content .org-name{
    position: absolute;
    left: 103mm;
    top: 136mm;
    font-size: 13pt;
    color: #FFEB3B;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .org-address{
    position: absolute;
    left: 107mm;
    top: 142mm;
    font-size: 13pt;
    color: #FFEB3B;
    z-index: 4;
}
.id-card-wrapper-back .id-card-background{
    position: absolute;
    left:180mm;
    top:40mm;
    width: 54mm;
    height:86mm;
    background-color: black;
    overflow: hidden;
    padding: 50px;
    z-index: 1;
}

.id-card-wrapper-back .id-card-background .tri-1{
    position: absolute;
    left: -7mm;
    top: -22mm;
    width: 0mm;
    height: 0mm;
    border-top: 60mm solid #f5a221;
    border-right: 80mm solid transparent;
    border-left: -109mm solid transparent;
    z-index: 2;
   
}

.id-card-wrapper-back .id-card-background .tri-2{
    position: absolute;
    left: 25mm;
    top: 0mm;
    width: 0mm;
    height: 0mm;
    border-top: 80mm solid #ce8a30;
    border-right: 2mm solid transparent;
    border-left: 103mm solid transparent;
    z-index: 2;
}

.id-card-wrapper-back .id-card-background .col{
    position: absolute;
    left: -53mm;
    top: 71mm;
    width: 261mm;
    height: 24mm;
    background-color: #bc7e2b;
    transform: skewX(48deg) rotate(-194deg);
    z-index: 2;
}
.id-card-wrapper-back .id-card-background .tri-3{
    position: absolute;
    left: -15mm;
    top: 57mm;
    width: 0mm;
    height: 0mm;
    border-bottom: 56mm solid #724e1e;
    border-right: 2mm solid transparent;
    border-left: 166mm solid transparent;
    z-index: 3;

}


.id-card-wrapper-front .id-card-content .org-logo{
    position: absolute;
    left: 82mm;
    top: 42mm;
    padding-top: 1mm;
    padding-right: 1mm;
    padding-bottom: 1mm;
    padding-left: 1mm;
    border-top-left-radius: 0mm;
    border-top-right-radius: 20mm;
    border-bottom-left-radius: 0mm;
    border-bottom-right-radius: 20mm;
    box-shadow: aliceblue;
    background-color: white;
    border: 0.2mm solid white;
    z-index: 4;
}
.id-card-wrapper-back .id-card-content .org-logo-duplicate{
    position: absolute;
    left: 229mm;
    top: 42mm;
    padding-top: 1mm;
    padding-right: 1mm;
    padding-bottom: 1mm;
    padding-left: 1mm;
    border-top-left-radius: 20mm;
    border-top-right-radius: 0mm;
    border-bottom-left-radius: 20mm;
    border-bottom-right-radius: 0mm;
    box-shadow: aliceblue;
    background-color: white;
    border: 0.2mm solid white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .qr-code{
    position: absolute;
    left: 183mm;
    top: 44mm;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-emergency-contact{
    position: absolute;
    left: 191mm;
    top: 83mm;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    color: #FFC107;
    z-index: 4;
    line-height: 1.5;

}

.id-card-wrapper-back .id-card-content .id-emergency{
    position: absolute;
    left: 195mm;
    top: 71mm;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    color: white;
    z-index: 4;
    line-height: 1.5;
}

.id-card-wrapper-back .id-card-content .id-blood-group{
    position: absolute;
    left: 106mm;
    top: 125mm;
    font-size: 12pt;
    color: #FFC107;
    z-index: 4;

}

.id-card-wrapper-back .id-card-content .id-dob{
    position: absolute;
    left: 97mm;
    top: 119mm;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    color: #FFC107;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-issue-date{
    position: absolute;
    left: 197mm;
    top: 103mm;
    font-family: "Roboto", sans-serif;
    font-size: 13pt;
    color: #e7e5df;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-expiry-date{
    position: absolute;
    left: 198mm;
    top: 115mm;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    color: white;
    z-index: 4;

}

.id-card-wrapper-back .id-card-background .line{
    position: absolute;
    left: 10mm;
    top: 94mm;
    width: 60mm;
    border: 0.3mm dotted white;
    z-index: 5;
}

.id-card-wrapper-back .id-card-content .id-policy{
    position: absolute;
    left: 190mm;
    top: 138mm;
    font-size: 10pt;
    color: #FFEB3B;
    z-index: 4;
}