.body{
    font-family: Arial, sans-serif;
}

.id-card-wrapper-front{
    position: absolute;
    left:20mm;
    top:20mm;
    padding-top: 50mm;
    padding-left: 50mm;
    padding-right: 50mm;
    padding-bottom: 50mm;
    /* width: 200mm;
    height: 200mm;
    background-color: black; */
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background{
    position: absolute;
    left:80mm;
    top: 160mm;
    width:150mm;
    height:200mm;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

.id-card-wrapper-front .id-card-background .col{
    position: absolute;
    left: -33mm;
    top: -6mm;
    width: 53mm;
    height: 80mm;
    background-color: #f5a221;
    transform: skewX(60deg);
    overflow: hidden;
}
.id-card-wrapper-front .id-card-background .tri-1{
    position: absolute;
    left: -67mm;
    top: 0mm;
    width: 0mm;
    height: 0mm;
    border-top:69mm solid #f5a221;
    border-right: 61mm solid transparent;
    border-left: 159mm solid transparent;
    z-index: 2;
}

.id-card-wrapper-front .id-card-background .tri-2{
    position: absolute;
    left: 86mm;
    top: 0mm;
    width: 40mm;
    height: 8mm;
    border-top: 48px solid #734d1f;
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    height: 0;
    width: 150px;
    z-index: 3;
}

.id-card-wrapper-front .id-card-background .tri-3{
    position: absolute;
    left: 104mm;
    top: 20mm;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 45px solid transparent;
    border-top: 60px solid #bd7c2b;
    z-index: 3;
}

.id-card-wrapper-front .id-card-content .user-photo{
    position: absolute;
    left:125mm;  
    top:188mm;
    border: 2mm solid #734d1f;
    border-radius: 49%;
    z-index: 3;
}

.id-card-wrapper-front .id-card-content .user-name{
    position: absolute;
    left:120mm;
    top:255mm;
    color:white;
    font-size: 30pt;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .id-number{
    position: absolute;
    left: 140mm;
    top: 270mm;
    font-size: 15pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .id-title{
    position: absolute;
    left: 110mm;
    top: 280mm;
    font-size: 30pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .org-name{
    position: absolute;
    left: 102mm;
    top: 310mm;
    font-size: 35pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-front .id-card-content .org-address{
    position: absolute;
    left: 114mm;
    top: 330mm;
    font-size: 35pt;
    color: white;
    z-index: 4;
}
.id-card-wrapper-back .id-card-background{
    position: absolute;
    left:290mm;
    top: 180mm;
    width:150mm;
    height:200mm;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

.id-card-wrapper-back .id-card-background .tri-1{
    position: absolute;
    left: -1mm;
    top: 0mm;
    width: 0mm;
    height: 0mm;
    border-top: 60mm solid #f5a221;
    border-right: 99mm solid transparent;
    border-left: -109mm solid transparent;
    z-index: 2;    
}

.id-card-wrapper-back .id-card-background .tri-2{
    position: absolute;
    left: 50mm;
    top: 0mm;
    width: 0mm;
    height: 0mm;
    border-top: 80mm solid #ce8a30;
    border-right: 2mm solid transparent;
    border-left: 103mm solid transparent;
    z-index: 2;  
}

.id-card-wrapper-back .id-card-background .col{
    position: absolute;
    left: -53mm;
    top: 143mm;
    width: 261mm;
    height: 24mm;
    background-color: #bc7e2b;
    transform: skewX(45deg) rotate(-194deg);
    z-index: 4;
}
.id-card-wrapper-back .id-card-background .tri-3{
    position: absolute;
    left: -15mm;
    top: 147mm;
    width: 0mm;
    height: 0mm;
    border-bottom: 56mm solid #724e1e;
    border-right: 2mm solid transparent;
    border-left: 166mm solid transparent;
    z-index: 2;
}

.id-card-wrapper-back .id-card-content .org-logo{
    position: absolute;
    left: 340mm;
    top: 190mm;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .qr-code{
    position: absolute;
    left: 350mm;
    top: 220mm;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-emergency-contact{
    position: absolute;
    left: 330mm;
    top: 260mm;
    font-size: 20pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-blood-group{
    position: absolute;
    left: 340mm;
    top: 280mm;
    font-size: 20pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-dob{
    position: absolute;
    left: 330mm;
    top: 295mm;
    font-size: 20pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-issue-date{
    position: absolute;
    left: 330mm;
    top: 315mm;
    font-size: 20pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-expiry-date{
    position: absolute;
    left: 330mm;
    top: 325mm;
    font-size: 20pt;
    color: white;
    z-index: 4;
}

.id-card-wrapper-back .id-card-content .id-policy{
    position: absolute;
    left: 315mm;
    top: 345mm;
    font-size: 18pt;
    color: white;
    z-index: 4;
}