/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

/* Visiting Card Styles */
.id-card-wrapper-front {
  position: relative;
  width: 59mm;
  height: 83.87mm; /* 317px */
  margin: 17.25pt; /* 23px */
  background-color: #ffffff;
  border: 0.75pt solid #ffffff; /* 1px */
  overflow: hidden;
  box-shadow: 0 1mm 2mm 0 rgba(0, 0, 0, 0.2), 0 1.5mm 5mm 0 rgba(0, 0, 0, 0.19);

}

.id-card-wrapper-front .id-card-background {
  background-color: #ffffff;
  height: 100%;
}

.id-card-wrapper-front .id-top-div {
  left: 0pt;
  width: 100%;
  height: 11.46mm;
  background-color: #373a3f;
  position: absolute;
}

.id-card-wrapper-front .id-top-div-bottom-border {
  right: 0pt;
  width: 22mm;
  height: 0.7mm;
  position: absolute;
  top: 9.5mm;
  background: linear-gradient(to top left, #e08828, #ff9800);
}

.id-card-wrapper-front .parallelogram {
  width: 42.86mm;
  height: 11.4mm;
  transform: skew(41deg);
  background: #373a3f;
  position: absolute;
  top: 4.5mm;
  left: -5mm;
}

.id-card-wrapper-front .parallelogram-border-bottom {
  left: 0pt;
  width: 41.8mm;
  height: 0.7mm;
  position: absolute;
  top: 14mm;
  background: linear-gradient(to top left, #e08828, #ff9800);
}

.id-card-wrapper-front .parallelogram-border-right {
  left: 37mm;
  width: 6mm;
  height: 0.7mm;
  position: absolute;
  top: 12mm;
  background: linear-gradient(to top left, #e08828, #ff9800);
  rotate: 51deg;
}

.id-card-wrapper-front .id-card-content .org-logo {
  text-align: center;
  margin-bottom: 14.25pt;
  position: relative;
  top: 62mm;
}

.id-card-wrapper-front .id-card-content .org-logo img {
  max-width: 24%;
  height: auto;
}

.id-card-wrapper-front .id-card-content .user-photo {
  position: absolute;
  left: 6.4mm;
  top: -0.5mm;
  object-fit: cover;
}

.id-card-wrapper-front .id-card-content .user-photo img {
  width: 23mm;
  height: 23mm;
  position: absolute;
  top: 5.25mm;
  left: 12.4mm;
  border-radius: 50%;
}

.id-card-wrapper-front .id-card-content .user-name {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30mm;
  position: absolute;
  top: 30mm;
  left: 11mm;
}

.id-card-wrapper-front .id-card-content .id-number {
  font-size: 10pt;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 42mm;
  left: 21mm;
  color: #ff9800;
}

.id-card-wrapper-front .id-card-content .id-title {
  font-size: 10pt;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 36mm;
  left: 13mm;
  color: #ff9800;
}

.id-card-wrapper-front .id-card-content .org-name {
  font-size: 14pt;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 50mm;
  left: 7.5mm;
}

.id-card-wrapper-front .id-card-content .org-address {
  font-size: 10pt; /*0.8333em8*/
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 55mm;
  left: 18mm;
}

.id-card-wrapper-back {
  position: relative;
  width: 59mm;
  height: 83.87mm;
  margin: 17.25pt; /* 23px */
  background-color: #ffffff;
  border: 0.75pt solid #ffffff; /* 1px */
  overflow: hidden;
  left: 68.02mm; /* 254px */
  top: -90.5mm; /* -341px */
  box-shadow: 0 1mm 2mm 0 rgba(0, 0, 0, 0.2), 0 1.5mm 5mm 0 rgba(0, 0, 0, 0.19);
}

.id-card-wrapper-back .id-card-background {
  background-color: #ffffff;
  height: 100%;
}

.id-card-wrapper-back .id-top-div {
  right: 0mm;
  width: 100%;
  height: 11.46mm;
  background-color: #373a3f;
  position: absolute;
}

.id-card-wrapper-back .id-top-div-bottom-border {
  left: 0pt;
  width: 21.69mm;
  height: 0.7mm;
  position: absolute;
  top: 9.525mm;
  background: linear-gradient(to top left, #e08828, #ff9800);
}

.id-card-wrapper-back .parallelogram {
  width: 43mm;
  height: 11.4mm;
  transform: skew(-41deg);
  background: #373a3f;
  position: absolute;
  top: 4.5mm;
  right: -5mm;
}

.id-card-wrapper-back .parallelogram-border-bottom {
  right: 0mm;
  width: 42mm;
  height: 0.7mm;
  position: absolute;
  top: 14.11mm;
  background: linear-gradient(to bottom right, #e08828, #ff9800);
}

.id-card-wrapper-back .parallelogram-border-right {
  right: 37.04mm;
  width: 6.7mm;
  height: 0.7mm;
  position: absolute;
  top: 11.99mm;
  background: linear-gradient(to bottom left, #e08828, #ff9800);
  rotate: -51deg;
}

/* Content Styles */
.id-card-content {
  position: absolute;
  top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
  position: absolute;
  top: 54pt; /* 72px */
  padding: 6pt; /* 8px */
}

.id-card-wrapper-back .id-card-content .id-contact-info {
  font-size: 0.8333em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18mm;
  position: absolute;
  top: 42mm;
  left: 16mm;
}

.id-card-wrapper-back .id-card-content .qr-code {
  position: absolute;
  left: 4.5mm; /* 10px */
  top: 14mm; /* 10px */
  height: 75pt; /* 100px */
  width: 75pt; /* 100px */
  border-radius: 50%;
  object-fit: cover;
}

.id-card-wrapper-back .id-card-content .qr-code img {
  width: 20mm;
  height: 20mm;
  border-radius: 5pt;
  position: absolute;
  top: -14mm;
  left: 42pt;
  mix-blend-mode: darken;
}

.id-card-wrapper-back .id-card-content .id-policy {
  position: relative;
  bottom: 0;
  font-size: 0.7em;
  top: 49mm;
  text-align: center;
}

.id-card-wrapper-back .id-card-content .id-emergency-contact {
  position: absolute;
  top: 0mm;
  font-size: 0.7em;
  top: 22mm;
  text-align: center;
  left: 12mm;
}

.id-card-wrapper-back .id-card-content .id-emergency-contact-phone {
  position: absolute;
  top: 0mm;
  font-size: 0.7em;
  top: 26mm;
  text-align: center;
  left: 12mm;
}
.id-card-wrapper-back .id-card-content .id-blood-group {
  position: absolute;
  top: 0mm;
  font-size: 0.7em;
  top: 30mm;
  text-align: center;
  left: 12mm;
}

.id-card-wrapper-back .id-card-content .id-dob {
  position: absolute;
  font-size: 0.7em;
  top: 34mm;
  text-align: center;
  left: 12mm;
}
.id-card-wrapper-back .id-card-content .id-issue-date {
  position: absolute;
  font-size: 0.7em;
  top: 38mm;
  text-align: center;
  left: 12mm;
}

.id-card-wrapper-back .id-card-content .id-expiry-date {
  position: absolute;
  font-size: 0.7em;
  top: 42mm;
  left: 12mm;
  width: 50mm;
}
