/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Visiting Card Styles */
.id-card-wrapper-front {
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: #e1deec;
    border: 0.75pt solid rgb(172, 25, 25); /* 1px */
    overflow: hidden;
}
.id-dark-red{
    height: 49mm;
    width: 100mm;
    position: absolute;
    top: -17mm;
    left: -14mm;
    background-color: rgb(196, 13, 41);
    rotate: -20deg;
}

.id-card-wrapper-front .id-card-background {
    background-color:white;
    height: 100%;
    border: 1px solid white;
    
}

.id-card-wrapper-front .id-pink {
    left: 102pt; /* 136px */
    margin-top: -0.69pt; /* -0.92px */
    width: 68.1pt; /* 90.8px */
    height: 22.5pt; /* 30px */
    background-color: white;
    position: absolute;
    top: 50mm; /* 0px */
}

.org-logo {
    text-align: center;
    margin-bottom: 14.25pt; /* 19px */
}

.org-logo img {
    max-width: 30.25%; /* 27% */
    height: auto;
}

.user-photo {
    position: absolute;
    left: 7.5pt; /* 10px */
    top: 7.5pt; /* 10px */
    height: 80pt; /* 100px */
    width: 80pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.user-photo img {
    width: 25mm; /* 25mm */
    height: 25mm; /* 21mm */
    border-radius: 50pt;
    position: absolute;
    top: 5mm; /* 7mm */
    left: 44pt; /* 56px */
}

.user-name {
    font-size: 1.1667em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30mm;
    position: absolute;
    top: 35mm;
    left: 15mm;
}

.id-number {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 42mm;
    left: 21mm;
}

.id-title {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 48mm;
    left: 12mm;
}

.org-name {
    font-size: -1.1667em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 54mm;
    left: 10mm;
}

.org-address {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 60mm;
    left: 19mm;
}

.id-card-wrapper-back {
    position: relative;
    width: 167.25pt; /* 223px */
    height: 237.75pt; /* 317px */
    margin: 17.25pt; /* 23px */
    background-color: rgb(196, 13, 41);
    border: 0.75pt solid #ffffff; /* 1px */
    overflow: hidden;
    left: 190.5pt; /* 254px */
    top: -255.75pt; /* -341px */
}

.id-card-wrapper-back .id-card-background {
    background-color: rgb(196, 13, 41);
    height: 100%;
    border:2px solid rgb(196, 13, 41)
}

.id-card-wrapper-back .id-dark-pink-bottom {
    left: 0pt; /* 0px */
    margin-top: 216pt; /* 288px */
    width: 53.775pt; /* 71.7px */
    height: 22.5pt; /* 30px */
    background-color:rgb(196, 13, 41);
    position: absolute;
    top: 0pt; /* 0px */
}

.id-card-wrapper-back .id-pink-bottom {
    left: 90.75pt; /* 121px */
    margin-top: 216pt; /* 288px */
    width: 82.2pt; /* 109.6px */
    height: 22.5pt; /* 30px */
    background-color: rgb(196, 13, 41);
    position: absolute;
    top: 0pt; /* 0px */
}

.id-card-wrapper-back .id-light-pink-bottom {
    left: 48pt; /* 64px */
    margin-top: 216pt; /* 288px */
    width: 53.775pt; /* 71.7px */
    height: 22.5pt; /* 30px */
    background-color: rgb(196, 13, 41);
    position: absolute;
    top: 0pt; /* 0px */
}

/* Content Styles */
.id-card-content {
    position: absolute;
    top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
    position: absolute;
    top: 54pt; /* 72px */
    padding: 6pt; /* 8px */
}

.id-contact-info {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 42mm;
    left: 16mm;
}

.qr-code {
    position: absolute;
    left: 7.5pt; /* 10px */
    top: 7.5pt; /* 10px */
    height: 20pt; /* 100px */
    width: 75pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.qr-code img {
    width: 35mm;
    height: 12mm;
    border-radius: 5pt;
    position: absolute;
    top: 26mm;
    left: 24pt;
}

.id-emergency-contact{
    position: absolute;
    top: -10mm;
    left: 8mm;
    text-align: center;
    font-size: 10pt;
    color: white;
    }
.id-blood-group{
    position: absolute;
    top:9mm;
    left: 15mm;
    color: white;
    font-size: 10pt;
}
.id-dob{
    position: absolute;
    top: 3mm;
    left: 8mm;
    color: white;
    font-size: 10pt;
    }
.id-dates{
    position: absolute;
    top:13mm;
    font-size: 5pt;
}
.id-barcode,
.id-policy {
    position: relative;
    top: 42mm;
    text-align: center;
    color: yellow;
    font-size: 0.80em;
    
}
.id-issue-date{

    position: absolute;
    top: 16mm;
    left: 10mm;
    font-size: 10pt;
    color: white;

}
.id-expiry-date{
    position: absolute;
    top: 21mm;
    left: 9mm;
    color: white;
    font-size: 10pt;

}

.hr{
    position: relative;
    top: 40mm;
    left: 3mm;
    width: 49mm;
    height: 1mm;
    color: yellow;

}


